.Portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  //border: 1px solid red;
  color: #ff4b3e;
 

  .List {
    margin-top: 20px;
    list-style-type: none;
    width: 320px;

    @media (min-width: 600px) {
     width: 800px;
    }

    &-card {
      //border: 1px solid white;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      

      @media (min-width: 600px) {
        flex-direction: row;
      }

      a:visited,
      :active,
      :link {
        color: #ff4b3e;
        text-decoration: none;
      }
      a:hover {
        color: red;
      }

      &Img {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          max-width: 300px;
          max-height: 300px;       
        }

        @media (min-width: 600px) {
          margin-right: 5px;
        }
       .title {
          text-align: center;
          @media (min-width: 600px) {
            display: none;
          }
        }
      }

      &Content {
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 600px) {
          align-items: flex-start;
          margin-left: 5px;
        }

        span {
          text-align: center;
          @media (min-width: 600px) {
            text-align: left;
          }
        }

        .title {
          display: none;
          @media (min-width: 600px) {
            display: flex;
          }
        }
        
      }
    }
  }
}
