.Portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  //border: 1px solid red;
  color: #ff4b3e;

  .List {
    margin-top: 20px;
    list-style-type: none;
    width: 320px;

    @media (min-width: 600px) {
     width: 800px;
    }

    &-card {
      //border: 1px solid white;
      min-width: 300px;
      display: flex;
      flex-direction: column;

      @media (min-width: 600px) {
        flex-direction: row;
      }

      a:visited,
      :active,
      :link {
        color: #ff4b3e;
        text-decoration: none;
      }
      a:hover {
        color: red;
      }

      &Img {
        margin-right: 5px;
        img {
          max-width: 320px;
          max-height: 300px;

         
        }
      }

      &Content {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
