html {
    height: 100%;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
    // background: no-repeat center;
    // background-image: url(../../img/E.jpg);
    background-color: #000A1C !important;
    font-family: 'Titillium Web', sans-serif !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    padding: 0 0 10px 0;
    //background-color: black;

    @media (min-width: 1025px) {
        height: 100%;
        padding: 0;
    }
}

#root {

     @media (min-width: 1025px) {
         height: 100%;
    }
}