

.About {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-top,
  &-bottom {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-top {
   // background-color: #f05f40;
  }

//   &-middle {
//   }

  &-bottom {
     // background-color: red;
  }
}
