.About {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid white;


  .Top {
    border: 1px solid red;
    //height: 500px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .intro{
      font-size: 40px;
      margin-bottom: 300px;
    }

    .quote {
      font-size: 25px;
      color: gray;
    }
  }

  .Bot {
    border: 1px solid blue;
    color: white;
    text-align: center;
    //height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
