
.Navbar {
    width: 100%;
    padding: 20px 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-left {
        color: white;
    }
    &-right {
        
    }
}

.menu, .cross {
    width: 30px;
    height: 30px;
    cursor: pointer;
}